/* BMI page */

.bmi-page .bmi-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background: #fff;
  border-radius: 18px;
}

.bmi-page .bmi-card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
  border-radius: 14px;
}

.bmi-page .bmi-card > h2 {
  margin-top: 15px;
}

.bmi-page .bmi-card p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bmi-page .description {
  color: grey;
  font-size: 18px;
}

.bmi-page .bmi-card label {
  display: block;
}

.bmi-page .bmi-card input[type='text'] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.bmi-page .bmi-card .btn {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgb(30, 39, 46);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 14px;
}

.bmi-page .bmi-card .btn:hover {
  opacity: 0.7;
}

.bmi-page .bmi-card tbody {
  background-color: #fff;
}

.bmi-page .bmi-card td {
  border: 1px solid #ddd;
  padding: 5px;
}

.bmi-page .lowBmi {
  background-color: rgb(71, 178, 210);
}

.bmi-page .normalBmi {
  background-color: rgb(112, 223, 112);
}

.bmi-page .highBmi {
  background-color: rgb(244, 148, 30);
}
